<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>

    <body>
        <div class="navbar">
            <a href="{{ url_for('home') }}" class="navbar-brand">Inicio</a>
            <a href="{{ url_for('sumar') }}" class="navbar-item">Sumar</a>
            <a href="{{ url_for('about') }}" class="navbar-item">Acerca de</a>
            <a href="{{ url_for('contact') }}" class="navbar-item">Contacto</a>
            <br>

            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>&copy; Joni 2019</p>
            </footer>
        </div>
    </body>
</html>
