{% extends "layout.html" %}
{% block title %}
Inicio
{% endblock %}
{% block content %}
<p>Bienvenidos a la mejor web del mundo con acceso a una tabla de una BD en postgres</p>
<p>Edit icon as a link:
    <a href="#">
      <img src="{{ url_for('static', filename='ic_edit_24px.svg') }}">
    </a>
</p>

<p>Remove icon as a link:
    <a href="#">
      <img src="{{ url_for('static', filename='ic_delete_24px.svg') }}">
    </a>
</p>


{% endblock %}