{% extends "layout.html" %}
{% block title %}
Modificar empleado
{% endblock %}
{% block content %}
<form method="post">
    <label for=id_label">Identificador:</label>
    <input type="text" name="id" id="id" value="{{ id }}" readonly>
    <br>

    <label for="nombre_label">Nombre:</label>
    <input name="nombre" id="nombre" value="{{ nombre }}">
    <br>

    <label for="numero_telefono_label">Número de teléfono:</label>
    <input name="numero_telefono" id="numero_telefono" value="{{ numero_telefono }}">
    <br>

    <input type="submit" value="Modificar">
  </form>
{% endblock %}
