{% extends "layout.html" %}
{% block title %}
Mostrar tabla
{% endblock %}
{% block content %}
<form method="post">
    <label for="nombre_tabla_label">Nombre tabla:</label>
    <input name="nombre_tabla" id="nombre_tabla" value="{{ request.form['nombre_tabla'] }}" required>
    <input type="submit" value="Mostrar tabla">
</form>

{% if tot_rows != 0 %}
<hr>
<p>Número total de filas de la tabla '{{ nombre_tabla }}': {{tot_rows}}</p>

<div style="overflow: auto; max-height: 55vh">
    <div class="table-responsive">
        <table class="responsive-table table table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                {% for column in list_columns %}
                    <th scope="col">{{ column }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div style="overflow: auto; max-height: 55vh">
    <div class="table-responsive">
        <table class="responsive-table table table-hover table-sm">
            <tbody>
            {% for row in rows %}
                <tr>
                {% for i in range(tot_columns) %}
                    <td> {{ row[i] }} </td>
                {% endfor %}
                    <td>
                        <a href="#">
                            <img src="{{ url_for('static', filename='ic_edit_24px.svg') }}">
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            <img src="{{ url_for('static', filename='ic_delete_24px.svg') }}">
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot class="invisible">
                <tr>
                {% for column in list_columns %}
                    <th scope="col">{{ column }}</th>
                {% endfor %}
                </tr>
            </tfoot>
        </table>
    </div>
</div>

{% endif %}

{% endblock %}